.card {
  border: 1px solid var(--c-divider);
  border-radius: 14px;
  overflow: hidden;
  width: 100%;
}

.card > * {
  padding: 0.7rem 1.5rem;
}

.card-header {
  background-color: var(--c-brand-light);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
